<% pageTitle='Shumway Issue Reporter' %>
<% include header %>
        <div>
          <p>Thank you for reporting a problem with Shumway!</p>
          <p>Before you submit the report, please check that no private information is included. The field containing technical details at the bottom doesn't contain any private information: it just has info on Shumway's internal state when errors occurred, but not on the internal state of the SWF you were running.</p>
        </div>
        <form id="form" action='submit' method='POST'>
        <fieldset>
          <div class='field required'>
            <label for='input-url' title="Required">URL of the page the error was encountered on</label>
            <input id="input-url" name='url' class='fill-width' type="url" required value='<%= url %>'>
          </div>
          <div class='field required'>
            <label for='input-swf' title="Required">URL of the SWF the error was encountered on</label>
            <input id="input-swf" name='swf' class='fill-width' type="url" required value='<%= swf %>'>
          </div>
          <p>Shumway version: <%= shumwayVersion %> | Firefox version: <%= firefoxVersion %></p>
          <input type='hidden' name='shumwayVersion' value='<%= shumwayVersion %>'>
          <input type='hidden' name='firefoxVersion' value='<%= firefoxVersion %>'>
          <div class='field'>
            <label for='input-email'>Your Email (optional, non-public)</label>
            <input id="input-email" name='email' class='fill-width' type="email">
          </div>
          <div class='field'>
            <label for='input-description'>Description (optional)</label>
            <textarea id="input-description" name='description' class='fill-width' rows='20'></textarea>
          </div>
          <div class='field'>
            <label for='input-exceptions'>Errors that occurred during SWF execution (This data helps us analyze the problems)</label>
            <textarea id="input-exceptions" name='exceptions' class='fill-width' rows='3'><%= exceptions %></textarea>
          </div>
          <p>Please note that this issue reporting facility is a work in progress. It's temporarily hosted by Till Schneidereit, a member of the Shumway core team and Mozilla employee.</p>
          <div class="field">
            <input id='submit-form' class="button" type="submit" value="Submit">
          </div>
          </fieldset>
        </form>
        <script>
        document.getElementById('submit-form').addEventListener('click', function(event) {

        });
        </script>
<% include footer %>